.App {
    text-align: center;
    background-color: #109856;
    color: #fff;
    padding: 20%;
    min-height: -webkit-fill-available;
}

/* .App-header {
    height: 20px;
    padding: 0px;
    color: #109856;
    border-radius: 5px;
    margin: 6%;
    background-color: #fff;
} */

.App-header {
  padding: 20px;
}

.App-header > div {
  color: #fff;
  font-size: 75px;
}

.App-header > p {
  background-color: #fff;
  color: #109856;
  border-radius: 5px;
}

.input-section {
  margin: 20px 0px 0px 0px;
}

.form-input {
    border-radius: 4px;
    border: none;
    color: #109856;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 17px;
    padding: 0px 10px;
}

.button {
  border: none;
  margin: 0px 0px 0px 5px;
  color: #109856;
}

.header-display {
  text-decoration: underline;
}
